.competition {
  position: relative;
}

.competition__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.competition__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.competition__text {
  width: 280px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 8px;

  @include font-set(14px, 30px, 600, $darkgrey, center);
}

.competition__hidden-text {
  display: none;
}

.competition__btn {
  width: 100%;
  margin-bottom: 35px;
  padding-top: 16px;
  padding-bottom: 16px;

  text-transform: uppercase;

  background-color: $green;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  @include font-set(18px, 30px, 700, $white, center);
}

.competition__btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 13px;
  padding: 0 20px;
}

.competition__btn:hover {
  background-color: #1c9b5e;
}

.competition__btn:active {
  color: rgba($color: $white, $alpha: 0.3);
}

.competition__btn:disabled {
  background-color: $lightgrey;
  cursor: default;
}

.competition__legend {
  display: block;

  text-transform: uppercase;

  @include font-set(14px, 30px, 600, $darkgrey, center);
}

.competition__legend--desktop {
  display: none;
}

.competition__footnote {
  font-weight: 700;
  font-size: 14px;
  color: $red;
  top: 0;
}

@media (min-width: $tablet-width) {
  .competition__wrapper {
    width: 660px;
    padding: 0 20px;
  }

  .competition__form {
    width: 620px;
  }

  .competition__text {
    width: 500px;
    margin-bottom: 12px;
    padding-top: 92px;

    @include font-set(18px, 30px, 600, $darkgrey, center);
  }

  .competition__hidden-text {
    display: block;
  }

  .competition__btn-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    order: 6;
    width: 620px;
    margin-bottom: 14px;
  }

  .competition__btn {
    width: 300px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .competition__container {
    padding: 0;
  }

  .competition__legend {
    align-self: center;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .competition__wrapper {
    width: 960px;
    padding: 0 10px;
  }

  .competition__text {
    width: 770px;
    margin-bottom: 71px;
  }

  .competition__hidden-text {
    display: inline-block;
  }

  .competition__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 940px;
  }

  .competition__btn-box {
    width: 940px;
    margin-bottom: 0;
  }

  .competition__btn {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
  }

  .competition__legend,
  .competition__legend--desktop {
    display: flex;
    margin-bottom: -5px;
  }

  .competition__legend--mobile {
    display: none;
  }

  .competition__footnote {
    top: 1.0em;
    left: -0.2em;
    line-height: 0;
  }
}
