.contacts__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.contacts__header {
  @include font-set(24px, 30px, lighter, $darkgrey , center);
}

.contacts__title {
  @include font-set(18px, 30px, bold, $darkgrey, center);
}

.contacts__list {
  text-align: center;

  @include list-reset;
}

.contacts__text {
  width: 240px;
  margin: 0 auto;

  @include font-set(24px, 36px, lighter, $red, center);
}

.contacts__triangle {
  position: relative;
}

.contacts__svg {
  z-index: 1;

  width: 100%;
  margin-bottom: -57px;
}

.contacts__map {
  min-height: 160px;

  background: url("../img/bg-map-mobile@1x.png") no-repeat center;
  background-size: 100% auto;
}

@media (min-width: $tablet-width) {
  .contacts__map {
    min-height: 660px;

    background: url("../img/bg-map-tablet@1x.png") no-repeat center;
    background-size: 100% auto;
  }
  .contacts__header {
    width: 370px;
    margin: 0 auto;

    @include font-set(40px, 50px, lighter, $darkgrey , center);
  }

  .contacts__item {
    flex-grow: 1;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__svg {
    margin-bottom: -71px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map {
    min-height: 500px;

    background: url("../img/bg-map-desktop@1x.png") no-repeat center;
    background-size: 100% auto;
  }

  .contacts__svg {
    display: none;
  }
}
