.contacts {
  position: relative;

  padding-top: 42px;
}

.contacts__container {
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.contacts__map-box {
  position: relative;
  z-index: 1;
}

.contacts__map-box::before {
  z-index: 1;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background: url("../img/bg-triangle-white-footer.svg") center top/100% 35px no-repeat;

}

.contacts__wrapper {
  margin: 0 auto;
  padding-bottom: 39px;
}

.contacts__header {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 280px;

  @include font-set(24px, 29px, 400, $darkgrey , center);
}

.contacts__title {
  margin: 0;

  @include font-set(18px, 27px, 700, $darkgrey, center);
}

.contacts__item {
  align-self: center;
}

.contacts__mail {
  margin-bottom: 22px;
}

.contacts__phone {
  margin-bottom: 20px;
}

.contacts__phone .contacts__text {
  text-transform: uppercase;
}

.contacts__list {
  @include list-reset;
}

.contacts__text {
  margin: 0 auto;
  padding-left: 2px;
  word-wrap: break-word;

  @include font-set(24px, 29px, 400, $red, center);
}

.contacts__adress .contacts__text {
  width: 240px;
}

.contacts__link {
  display: block;
  word-wrap: break-word;
}

.contacts__span {
  display: block;

  line-height: 30px;

  border-bottom: 1px solid transparent;
}

.contacts__span:hover {
  border-bottom: 1px solid $darkgrey;
}

.contacts__span:active,
.contacts__span:focus {
  border-bottom: 1px solid rgba($color: $darkgrey, $alpha: 0.3);
}

.contacts__link:hover {
  color: $darkgrey;

  cursor: pointer;
}

.contacts__link:active,
.contacts__link:focus {
  color: rgba($color: $darkgrey, $alpha: 0.3);

  cursor: pointer;
}

.contacts__map {
  z-index: 0;

  height: 200px;

  background: url("../img/bg-map-mobile@1x.png") no-repeat center;
  background-size: 100% auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 46px;
  }

  .contacts__container {
    width: 660px;
    padding: 0 20px;
  }

  .contacts__map {
    height: 374px;

    background: url("../img/bg-map-tablet@1x.png") no-repeat center;
    background-size: 100% auto;
  }

  .contacts__header {
    width: 370px;
    margin: 0 auto;
    margin-bottom: 43px;

    @include font-set(40px, 48px, 400, $darkgrey , center);
  }

  .contacts__item {
    flex-grow: 0;
    margin-bottom: 43px;
  }

  .contacts__title {
    margin-bottom: 3px;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .contacts__item:first-child {
    margin-left: 46px;
    margin-right: 96px;
  }

  .contacts__adress {
    flex-grow: 1;
    margin-bottom: 18px;
  }

  .contacts__phone {
    align-self: flex-start;

    .contacts__text {
      text-transform: none;
    }
  }

  .contacts__phone .contacts__title {
    margin-bottom: 1px;
  }

  .contacts__wrapper {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 66px;
    padding-bottom: 0;
  }

  .contacts__container {
    width: 960px;
    padding: 0 10px;
  }

  .contacts__wrapper {
    padding: 0;
  }

  .contacts__map {
    height: 485px;

    background: url("../img/bg-map-desktop@1x.png") no-repeat center;
    background-size: 100% auto;
  }

  .contacts__map-box::before {
    height: 150px;
    background-size: 100% 150px;
  }

  .contacts__svg {
    display: none;
  }

  .contacts__item:first-child {
    margin: 0;
    margin-left: 25px;
    margin-right: 70px;
  }

  .contacts__item {
    flex-basis: 250px;
  }

  .contacts__phone {
    order: 1;
    margin: 0;
    flex-grow: 0;
  }

  .contacts__mail {
    order: 3;
    flex-grow: 0;
  }

  .contacts__adress {
    order: 2;
    align-self: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    margin-right: 72px;
  }

  .contacts__header {
    width: 500px;
    margin-bottom: 55px;

    font-size: 50px;
    line-height: 59px;
  }

  .contacts__title {
    margin-bottom: 22px;

    font-size: 18px;
  }

  .contacts__phone .contacts__title {
    margin-bottom: 21px;
  }

  .contacts__list {
    align-items: baseline;
    justify-content: flex-start;
    padding-bottom: 20px;
  }
}
