.effect {
  display: none;
}

.effect__container {
  position: relative;

  display: flex;
}

.effect__image {
  min-width: 300px;
}

@media (min-width: $tablet-width) {
  .effect {
    display: flex;
    margin-bottom: 46px;
    padding: 0 20px;
  }

  .effect__description {
    padding: 35px 0 0 71px;
  }

  .effect__title {
    margin: 0;
    margin-bottom: 9px;

    @include font-set(30px, 37px, 700, $black, left);
  }

  .effect__timer::before {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 144px;
    content: "24";
    box-sizing: border-box;
    width: 238px;
    height: 276px;

    @include font-set(94px, 14.5px, 700, $red, center);
  }

  .effect__text {
    width: 296px;
    margin: 0;
    margin-bottom: 15px;

    @include font-set(14.5px, 24px, 400, $darkgrey, left);
  }

  .effect__link {
    display: block;

    @include font-set(14.5px, 14.5px, 400, $red, left);
  }

  .effect__link .effect__span {
    display: inline-block;

    border-bottom: 1px solid $red;
  }

  .effect__wrap {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    margin-bottom: 0;
    padding: 33px 10px 0 10px;

    background-color: $grey;
  }

  .effect__wrap {
    display: block;
  }

  .effect__container {
    position: relative;
    padding-bottom: 60px;
  }

  .effect__timer .timer {
    width: 298px;
    height: 345px;
  }

  .effect__timer::before {
    padding-top: 183px;
    width: 298px;
    height: 345px;
    font-size: 120px;
  }

  .effect__description {
    padding-top: 91px;
    padding-left: 67px;
  }

  .effect__description::before {

    top: -45px;
    left: 10px;
    padding-top: 182px;
    width: 298px;
    height: 345px;

    @include font-set(119px, 14.5px, 700, $red, center);
  }

  .effect__title {
    margin-bottom: 21px;
  }

  .effect__title br,
  .effect__text br:not(.effect__wrap) {
    display: none;
  }

  .effect__text {
    width: 580px;
    margin-bottom: 36px;

    font-size: 18.8px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18.8px;
    line-height: 18.8px;
  }
}
