.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 35px 20px;
}

.footer__logo {
  align-self: center;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 177px;

  @include list-reset;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer__text {
  margin: 0;
  padding-right: 15px;

  vertical-align: middle;

  @include font-set(14px, 18px, 700, $darkgrey, left);
}

.footer__main-page {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer__main-page,
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .footer__social-item--twitter,
  .footer__social-item--facebook,
  .footer__social-item--youtube {
    display: block;
    width: 45px;
    height: 45px;

    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    outline: inherit;
  }

  .footer__social-item--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  .footer__social-item--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  .footer__social-item--youtube {
    background-image: url("../img/icon-youtube.svg");
  }

  .footer__social-item {
    &:hover {
      border-color: $darkgrey;
    }

    &:active {
      border-color: rgba($color: $darkgrey, $alpha: 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .footer__text {
    font-size: 18px;
  }
}
