.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 43px 20px;

  svg.logo-letters {}
}

.footer__logo {
  align-self: center;
  width: 146.3px;
  height: 40.375px;
  margin-bottom: 39px;
}

.footer__logo-desktop-blue {
  display: none;
}

.footer__logo .footer__svg {
  fill: $darkgrey;
}

.footer__logo:hover[href] .footer__svg {
  &:hover {
    fill: $red;
  }

  &:active {
    fill: $darkgrey;
    opacity: 0.3;
  }
}

.footer__logo-htmlacademy {
  &:hover {
    fill: $darkgrey;
  }

  &:active {
    fill: $darkgrey;
    opacity: 0.3;
  }
}

.footer__social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  box-sizing: border-box;
  list-style: none;
}

.footer__social-link {
  display: flex;
  margin: auto;
  width: 45px;
  height: 45px;

  svg {
    display: block;
    margin: auto;
  }
}

.footer__social-link:active .footer__social-logo {
  opacity: 0.3;
}

.footer__social-logo {
  text-align: center;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 127px;
}

.footer__text {
  margin: 0;

  @include font-set(14px, 18px, 400, $darkgrey, left);
}

.footer__main-page {
  display: none;
}

.footer__social-item--twitter,
.footer__social-item--facebook,
.footer__social-item--youtube {
  display: flex;
  width: 45px;
  height: 45px;

  border: 3px solid #e9ebec;
  border-radius: 50%;
  outline: inherit;
}


.footer__social-item--facebook {
  margin-right: 12px;
  margin-left: 12px;
}

.footer__social-item {
  &:hover {
    border-color: $darkgrey;
  }

  &:active {
    border-color: rgba($color: $darkgrey, $alpha: 0.3);
  }
}

.footer__link {
  align-self: flex-end;
  width: 26.943px;
  height: 36px;
  margin-top: 4px;
}

@media (min-width: $tablet-width) {
  .footer__main-page,
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 620px;
    margin: 0 auto;
    padding: 38px 20px 38px 20px;
  }

  .footer__main-page {
    padding: 36px 20px 38px 20px;
  }

  .footer__logo {
    align-self: flex-start;
    width: 150px;
    margin-bottom: 0;
  }

  .footer__logo-desktop-blue {
    display: none;
  }

  .footer__social-list {
    align-self: flex-end;
    margin: 0 auto;
  }

  .footer__copyright {
    align-self: flex-end;
    width: 150px;
    margin-bottom: 2px;
  }

  .footer__text {
    padding-left: 21px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 940px;
    margin: 0 auto;
    padding: 74px 10px 72px 10px;
  }

  .footer__logo {
    width: 150px;
    margin-top: -2px;
  }

  .footer__logo-mobile-blue {
    display: none;
  }

  .footer__logo-desktop-blue {
    display: flex;
  }

  .footer__text {
    padding-left: 0;

    font-size: 18px;
  }

  .footer__social-list {
    align-self: flex-start;
  }

  .footer__copyright {
    margin-bottom: 3px;
  }

  .footer__link {
    margin-top: 11px;
  }

  .footer__social-item--facebook {
    margin-right: 0;
    margin-left: 0;
  }

  .footer__social-item:not(:last-child) {
  margin-right: 12px;
  }
}
