.header__top {
  display: flex;
  justify-content: flex-start;
  background-color: $darkgrey;
  padding: 16px 20px;
}

.header__button {
  margin-left: auto;
}

.header__bg {
  min-height: 462px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center;
}

.header__title {
  @include font-set(24px, 36px, lighter, $white, center);
}
