.header {
  min-height: 462px;
  background-color: $deepgrey;

  background-size: 100% auto;
}

.header--short {
  height: 365px;
}

.header__logo:hover[href] .header__svg{
  fill: $red;
}

.header__logo:active[href] .header__svg{
  fill: rgba(255, 255, 255, 0.3);
}

.header__bg,
.header__title-box {
  position: relative;
  height: 431px;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: -15px -36px;
  background-size: 104%;
}

.header__title-box {
  height: 204px;
}

.header__bg::before {
  content: "";
  position: absolute;
  top: 138px;
  right: 29px;
  width:320px;
  height: 300px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat center;
}

.header__logo-container {
  position: relative;
  padding-top: 22px;
  padding-left: 20px;
  height: 46px;
  background-color: $darkgrey;
  border-bottom: 1px solid #000000;
}

.header__nav {
  width: 100%;
  background-color: $darkgrey;
  margin-bottom: -35px;

}

.header__button {
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 2;

  display: block;
  width: 50px;
  height: 24px;

  font-size: 0;
  background-color: $darkgrey;
  cursor: pointer;
  border: none;

}

.header__nav--closed {
    display: none;
}

.header__nav--nojs .header__nav--opened {
  display: block;
}

.header__nav--closed .header__button::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -42px;

  width: 50px;
  height: 4px;

  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.header__nav--closed .header__button:active::before {
  background-color: rgba(210, 80, 46, 0.3);
  box-shadow: 0 8px 0 0 rgba(210, 80, 46, 0.3), 0 16px 0 0 rgba(210, 80, 46, 0.3);
}

.header__nav--opened .header__button {
  top: 0;
  right: 0;


  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 30px;
    right: 13px;

    width: 29px;
    height: 5px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(210, 80, 46, 0.3);
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header__text {
  @include font-set(24px, 30px, 400, $white, center);
  margin: 0 auto;
  padding-top: 62px;
  width: 300px;
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 984px;
  }

  .header--short {
    height: 694px;
  }

  .header__logo-container {
    height: 65px;
    padding-top: 44px;
  }

  .header__nav--opened .header__button::before,
  .header__nav--opened .header__button::after {
    top: 55px;
  }

  .header__bg,
  .header__title-box {
    position: initial;
    margin-bottom: -528px;
    height: 653px;
    background: url("../img/back-tablet@1x.jpg") no-repeat center;
    background-size: 100% auto;
  }

  .header__title-box {
    height: 364px;
  }

  .header__text {
    @include font-set(50px, 59px, 400, $white, center);
    width: 475px;
    padding-top: 106px;
  }

  .header__bg::before {
    top: 439px;
    right: -1px;
    width: 660px;
    height: 545px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat center;
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-height: 854px;
    background: url("../img/back-desktop.jpg") no-repeat center;
    background-size: cover;
  }

  .header--short {
    height: 694px;
  }

  .header__logo-container {
    width: 335px;
  }

  .header__bg,
  .header__title-box {
    margin-bottom: -544px;
    background-image: none;
  }

  .header__text {
    width: 800px;
    padding-top: 65px;
    margin: 0 auto;
  }

  .header__bg::before {
    top: 210px;
    right: 1px;
    width: 1050px;
    height: 645px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat center;
    z-index: 0;
  }

  .header__button {
    display: none;
  }

  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(15, 21, 27, 0.3);
    padding: 0 120px;
  }

  .header__logo {
    width: 150px;
  }

  .header__logo-container {
    border: none;
  }

  .header__nav,
  .header__logo-container {
    background-color: transparent;
  }
}

