.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: $deepgrey url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: 100% auto;
  background-position-y: 259px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 20px;
}

.header__main-page.header--closed {
  min-height: 735px;
  background-position-y: top;
}

.header__main-page.header__menu--opened {
  min-height: 991px;
  border-bottom: none;
}

.header__not-main.header__menu--opened {
  min-height: 496px;
  background-position-y: 261px;
}

.header__not-main.header--closed {
  min-height: 239px;
  background-position-y: top;
}

.header__top--closed {
  background-color: rgba(0, 0, 0, 0.3);

  .header__button-svg--cross {
    display: none;
  }
}

.header__top--opened .header__button-svg--burger {
  display: none;
}

.header__top--opened,
.header__top--nojs {
  background-color: $darkgrey;
  border-bottom: 1px solid $black;
  height: 69px;
}

.header__logo {
  display: block;
}

.header__logo-mobile-white,
.header__logo-tablet-white,
.header__logo-desktop-white {
  fill: $white;
}

.header__logo-tablet-white,
.header__logo-desktop-white {
  display: none;
}

.header__logo:hover[href] .header__logo {
  &-mobile-white,
  &-tablet-white,
  &-desktop-white {
    fill: $red;
  }
}

.header__logo:active[href] .header__logo {
  &-mobile-white,
  &-tablet-white,
  &-desktop-white {
    fill: rgba(255, 255, 255, 0.3);
  }
}

.header__logo-container {
  width: 75px;
  height: 22px;
}

.header__button {
  position: relative;

  width: 22px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__button-svg {
  fill: $white;

  &:hover {
    fill: $red;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__button--hidden {
  visibility: hidden;
}

.header__nav--closed .main-nav__list {
  display: none;
}

.header__nav--nojs .main-nav__list--opened {
  display: block;
}

.main-nav--nojs .header__button {
  display: none;
}

.header__top--closed .header__button {
  width: 50px;
  height: 26px;
}

.header__not-main {
  justify-content: flex-start;
}


.header__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 28px;
}

.header__text {
  width: 300px;
  margin: 0 auto;

  @include font-set(24px, 30px, 400, $white, center);
}

@media (min-width: $tablet-width) {
  .header,
  .header__main-page {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: center 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }
  .header__top {
    height:109px;
  }

  .header__logo-container {
    width: 147px;
    height: 62px;
  }

  .header__logo-mobile-white {
    display: none;
  }

  .header__logo-tablet-white {
    display: flex;
  }

  .header__container {
    width: 620px;
    margin: 0 auto;
    padding: 26px 20px 21px 20px;
  }

  .header__text {
    width: 475px;
    margin-top: 43px;

    @include font-set(50px, 59px, 400, $white, center);
  }

  .header__main-page.header__menu--opened {
    min-height: 984px;
    background-position-y: 255px;
  }

  .header__main-page.header--closed {
    min-height: 728px;
  }

  .header__not-main.header__menu--opened {
    min-height: 695px;
    background-position-y: 255px;
  }

  .header__not-main.header--closed {
    min-height: 447px;
  }
}

@media (min-width: $desktop-width) {
  .header__logo-container {
    height: 50px;
  }

  .header__main-page,
  .header {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat center 0;
    background-size: 234%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .header__main-page {
    min-height: 853px;
  }

  .header__logo-desktop-white {
    display: flex;
  }

  .header__logo-tablet-white {
    display: none;
  }

  .header__nav--closed .main-nav__list {
    display: flex;
  }

  .header__top {
    background-color: transparent;
    border-bottom: none;
  }

  .header__text {
    width: 760px;
    margin: 0 auto;
    margin-top: 66px;
  }

  .header__text--narrow {
    width: 645px;
  }

  .header__button {
    display: none;
  }

  .header__main-page.header__menu--opened,
  .header__main-page.header--closed {
    min-height: 854px;
    background-position: top center;
    background-size: 244%;
  }

  .header__not-main.header__menu--opened,
  .header__not-main.header--closed {
    min-height: 394px;
    background-position-y: top;
  }

  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    padding: 0px 10px;
  }

  .header__top-box {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header__container {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .header__logo {
    width: 150px;
  }

  .header__nav {
    position: relative;
  }
}
