.header {
  background: $deepgrey url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: -6px 0px;
  background-size: 100%;
}

.header__logo {
  display: block;
}

.header__logo:hover[href] .header__svg{
  fill: $red;
}

.header__logo:active[href] .header__svg{
  fill: rgba(255, 255, 255, 0.3);
}

.header__bg,
.header__title-box {
  position: relative;

}

.header__title-box {
  min-height: 170px;
}

.header__bg::after {
  content: "";
  position: absolute;
  top: 103px;
  right: 32px;
  width:320px;
  height: 300px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat center;
}

.header__logo-container {
  position: relative;
  padding-left: 20px;
  height: 44px;
  z-index: 1;
}

.header__logo {
  z-index: 1;
}

.header__nav--closed.header__nav {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  margin-bottom: -35px;
}

.header__nav--opened .header {
  background-position-y: -256px;
}

.header__button {
  position: absolute;
  top: 14px;
  right: 15px;
  z-index: 2;

  display: block;
  width: 50px;
  height: 30px;

  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

}

.header__nav--closed .main-nav__list {
  display: none;
}

.header__nav--nojs .header__nav--opened {
  display: block;
}

.main-nav--nojs .header__button {
  display: none;
}

.header__nav--closed .header__button::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -3px;

  width: 50px;
  height: 4px;

  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.header__nav--closed .header__button:active::before {
  background-color: rgba(210, 80, 46, 0.3);
  box-shadow: 0 8px 0 0 rgba(210, 80, 46, 0.3), 0 16px 0 0 rgba(210, 80, 46, 0.3);
}

.header__nav--opened .header__button {
  top: 24px;
  right: 21px;


  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 13px;
    right: 6px;

    width: 29px;
    height: 5px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(210, 80, 46, 0.3);
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 22px;
  background-color: rgba(0, 0, 0, 0.3)
}

.header__text {
  @include font-set(24px, 30px, 400, $white, center);
  margin: 0 auto;
  padding-top: 28px;
  width: 300px;
}

@media (max-width: $mobile-width-only) {
  .header__nav--closed .main-nav__item {
    display: none;
    &--current {
      display: block;
    }
  }
}


@media (min-width: $tablet-width) {
  .header {
    min-height: 730px;
    padding-bottom: 0;
    margin-bottom: 0;
    background: url("../img/back-tablet@1x.jpg") no-repeat center;
    background-size: cover;
  }

  .header__logo-container {
    height: 65px;
  }

  .header__nav--closed .header__button {
    top: 42px;
    right: 23px;
  }

  .header__nav--closed .header__button::before {
    top: 3px;
    left: 6px;
  }

  .header__nav--opened .header__button {
    top: 41px;
    right: 9px;
  }

  .header__nav--opened .header__button::before,
  .header__nav--opened .header__button::after {
    top: 13px;
    left: 0px;
  }

  .header__bg,
  .header__title-box {
    position: initial;
    margin-bottom: 0;
    height: 621px;
  }

  .header__title-box {
    height: 364px;
  }

  .header__text {
    @include font-set(50px, 59px, 400, $white, center);
    width: 475px;
    padding-top: 106px;
  }

  .header__bg::after {
    top: 185px;
    right: -13px;
    width: 660px;
    height: 545px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat center;
  }
  .header__wrapper {
    padding-top: 44px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-height: 854px;
    background: url("../img/back-desktop.jpg") no-repeat center;
    background-size: cover;
  }

  .header--short {
    height: 694px;
  }

  .header__logo-container {
    width: 175px;
  }

  .header__bg {
    background-image: none;
  }

  .header__text {
    width: 800px;
    padding-top: 65px;
    margin: 0 auto;
  }

  .header__bg::after {
    top: 210px;
    right: 1px;
    width: 1050px;
    height: 645px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat center;
    z-index: 0;
  }

  .header__button {
    display: none;
  }

  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 120px;
    min-height: 110px;
  }

  .header__logo {
    width: 150px;
  }

  .header__nav {
    position: relative;
    align-self: center;
  }

  .header__nav--closed .main-nav__list {
    display: flex;
  }
}
