.information {
  position: relative;
  padding-top: 82px;
  background: #f2f2f2 url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 155% auto;
  background-position: 50% 0;
}

.information__wrapper {
  margin: 0 auto;
}

.information__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 290px;

  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-position: center 429px;
  background-size: 157px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }
}

.information__title {
  margin: 0;
  margin-bottom: 9px;

  @include font-set(18px, 30px, 700, $black, center);
}

.information__text {
  margin: 0;

  br {
    display: none;
  }

  @include font-set(14.5px, 1.7em, 500, $darkgrey, center);
}

.information__item {
  width: 267px;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .information {
    margin-bottom: 60px;
    padding-top: 71px;
    padding-bottom: 41px;
    background-position: 100% 0;
  }

  .information__list {
    z-index: 0;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 318px;

    background-image: none;
  }

  .information__item {
    width: 316px;
    margin-bottom: 32px;
  }

  .information__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .information__container::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 20px;

    width: 265px;
    height: 481px;

    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 245.5px auto;
    }
  }

  .information__title,
  .information__text {
    text-align: left;
  }

  .information__title {
    margin-bottom: 9px;
  }

  .information__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;

    br {
      display: block;
    }
  }

  .information__text:last-child {
    margin-bottom: 0;
  }

  .information__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .information {
    margin-bottom: 0;
    padding-top: 89px;
    padding-bottom: 0;
  }

  .information__flex-container {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
    padding-left: 0;
  }

  .information__container::before {
    display: none;
  }

  .information__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0;
  }

  .information__item {
    position: relative;
    min-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 256px;
  }

  .information__text br {
    display: none;
  }

  .information__item:last-child {
    margin-bottom: 32px;
  }

  .information__item-1::before,
  .information__item-2::before,
  .information__item-3::before {
    content: "";
    position: absolute;
    top: -102px;
    left: 61px;

    display: block;
    width: 200px;
    height: 301px;
  }

  .information__item-1::before {
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .information__item-2::before {
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .information__item-3::before {
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .information__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;

    background-image: none;
  }

  .information__title {
    width: 228px;
    margin: 0;
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .information__text {
    width: 241px;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
