.input-block__list {
  @include list-reset;
}

.input-block:nth-of-type(2n-1) {
  padding-top: 32px;
  padding-bottom: 25px;
  background-color: $white;

  .input-block__text {
    padding: 0px 23px;
    margin-bottom: 5px;

    text-transform: uppercase;

    @include font-set(14px, 30px, 600, $red, left);
  }
}

.input-block__item-checkbox {
  position: relative;
  margin: 0;
  margin-left: 69px;
  margin-bottom: 50px;
}

.input-block__item-radio {
  position: relative;
  margin: 0;
  margin-left: 69px;
  margin-bottom: 44px;
}

.input-block__item--input {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.input-block:nth-of-type(2n) {
  background-color: $grey;
  padding-top: 25px;
}

.input-block__input {
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 15px 20px;
  border: 2px solid $lightgrey;
  border-radius: 2px;

  @include font-set(18px, 30px, 600, $darkgrey, left);
}

.input-block__text {
  @include font-set(18px, 30px, 600, $darkgrey, center);
}

.input-block__input--textarea {
  width: 100%;
  height: 200px;
  padding: 14px 19px;

  resize: none;
}


.input-block__checkbox-text::before {
  position: absolute;
  left: -69px;
  top: -3px;
  content: "";
  width: 35px;
  height: 35px;
  border: 2px solid $lightgrey ;
  border-radius: 2px;
  background-color: $white;
}

.input-block__checkbox-text::after {
  position: absolute;
  left: -60px;
  top: 8px;
  content: "";
  width: 22px;
  height: 16px;
  background: url("../img/icon-yes.svg") no-repeat center;
}

.input-block__radio-text::before {
  position: absolute;
  left: -69px;
  top: -3px;
  content: "";
  width: 35px;
  height: 35px;
  border: 2px solid $lightgrey;
  border-radius: 50%;
  background-color: $white;
}

.input-block__radio-text::after {
  position: absolute;
  left: -57px;
  top: 9px;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $red;
}



@media (min-width: $tablet-width) {
  .input-block__item--input {
    flex-direction: row;
  }

  .input-block__input {
    flex-grow: 2;
  }

  .input-block:nth-of-type(2n) {
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .input-block__input--textarea {
    width: 100%;
    height: 200px;
  }

  .input-block__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .input-block__item {
    width: 270px;
  }

  .input-block__selfie {
    order: 1;
  }

  .input-block__beach {
    order: 4;
  }

  .input-block__chuck {
    order: 2;
  }

  .input-block__souvenir {
    order: 5;
  }

  .input-block__tower {
    order: 3;
  }

  .input-block__hotel {
    order: 6;
  }
}
