.input-block__list {
  @include list-reset;
}

.input-block:nth-child(2n-1) {
  background-color: $white;
  padding-left: 20px;
  padding-right: 20px;

  .input-block__text {
    @include font-set(14px, 30px, normal, $red, left);
    text-transform: uppercase;
  }
}

.input-block__item--input {
  display: flex;
  flex-direction: column;
}

.input-block:nth-child(2n) {
  background-color: $grey;
}

.input-block__input {
  @include font-set(18px, 30px, normal, $darkgrey, left);
  box-sizing: border-box;
  border: 2px solid $lightgrey;
  border-radius: 2px;
  margin-bottom: 16px;
}

.input-block__text {
  @include font-set(18px, 30px, 500, $darkgrey, center);
}

.input-block__input--textarea {
  height: 200px;
  padding: 12px;
  resize: none;
}
