.intro {
  padding-top: 396px;
}

.intro__title {
  display: none;
  margin: 0 auto;

  @include font-set(24px, 36px, 400, $white, center);
}

.intro__wrapper {
  padding-top: 28px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 29px;
  background-color: $deepgrey;
  text-align: center;
}

.intro__container {
  width: 280px;
  margin: 0 auto;
}

.intro__btn--white {
  display: block;
  margin-bottom: 33px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 3px solid $white;
  border-radius: 50px;

  @include font-set(18px, 18px, 700, $white, center);
}

.intro__btn--white:hover {
  color: $red;

  background-color: $white;
}

.intro__btn--white:active {
  color: rgba(210, 80, 46, 0.3);

  background-color: $white;
}

.intro__list {
  position: relative;

  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__link {
  display: block;

  font-size: 0;
  color: $white;
}

.intro__link--apple,
.intro__link--android,
.intro__link--microsoft {
  display: block;

  background-repeat: no-repeat;
  background-position: bottom;
  outline: inherit;
}

.intro__link--android {
  margin-right: 33px;
  margin-left: 33px;
  margin-top: 5px;
}

.intro__link--microsoft {
  margin-top: 7px;
}

.intro__description {
  margin: 0;

  @include font-set(14px, 24px, 400, $white, center);
}

@media (min-width: $tablet-width) {
  .intro {
    padding-top: 129px;
  }

  .intro__title {
    display: block;
    width: 245px;
    margin-bottom: 30px;
    padding-right: 25px;
    padding-left: 25px;

    @include font-set(40px, 49px, 400, $white, center);
  }

  .intro__wrapper {
    display: block;
    width: 660px;
    margin-bottom: 79px;
    padding-right: 22px;
    padding-left: 22px;
    background-color: transparent;

    text-align: center;
  }

  .intro__container {
    width: 298px;
    margin-left: 0;
  }

  .intro__btn--white {
    display: block;
    margin-bottom: 47px;
  }

  .intro__list {
    margin-bottom: 35px;
  }

  .intro__description {
    width: 297px;

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 108px;
  }

  .intro__wrapper {
    padding-left: 0;
  }

  .intro__title {
    margin-bottom: 52px;
    padding-right: 27px;
    padding-left: 27px;

    font-size: 50px;
    line-height: 60px;
  }

  .intro__btn--white {
    margin-bottom: 66px;

    font-size: 21px;
  }

  .intro__list {
    margin-bottom: 57px;
  }

  .intro__description {
    width: 295px;
  }
}
