.intro {
  padding-top: 396px;
}

.intro__title {
  display: none;
  margin: 0 auto;

  @include font-set(24px, 36px, 400, $white, center);
}

.intro__wrapper {
  padding-top: 28px;
  padding-bottom: 31px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.intro__btn--white {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 32px;
  width: 100%;

  border: 3px solid $white;
  border-radius: 50px;

  @include font-set(18px, 18px, 700, $white, center);
}

.intro__btn--white:hover {
  background-color: $white;
  color: $red;
}

.intro__btn--white:active {
  background-color: $white;
  color: rgba(210, 80, 46, 0.3);
}

.intro__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include list-reset;
  margin-bottom: 23px;
}

.intro__link {
  display: block;
  font-size: 0px;
}

.intro__link--apple,
.intro__link--android,
.intro__link--microsoft {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom;
  outline: inherit;
}

.intro__link--apple {
  width: 46px;
  height: 57px;
  background-image: url("../img/logo-apple.svg");
}

.intro__link--android {
  margin-left: 33px;
  margin-right: 33px;
  width: 46px;
  height: 57px;
  background-image: url("../img/logo-android.svg");
}

.intro__link--microsoft {
  width: 46px;
  height: 57px;
  background-image: url("../img/logo-microsoft.svg");
}

.intro__link {
  color: $white;
}

.intro__description {
  margin: 0;

  @include font-set(14px, 24px, 400, $white, center);
}

@media (min-width: $tablet-width) {
  .intro {
    padding-top: 129px;
  }
  .intro__title {
    display: block;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    width: 245px;

    @include font-set(40px, 49px, 400, $white, center);
  }

  .intro__wrapper {
    display: block;
    width: 289px;
    margin-bottom: 79px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 26px;
    text-align: center;
  }

  .intro__btn--white {
    display: block;
    margin-bottom: 47px;
  }

  .intro__list {
    margin-bottom: 35px;
  }

  .intro__description {
    width: 297px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
  padding-top: 108px;
  }

  .intro__wrapper {
    margin-left: 0;
    margin-top: 3px;
  }

  .intro__title {
    margin-bottom: 53px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 50px;
    line-height: 59px;
  }

  .intro__btn--white {
    font-size: 21px;
    margin-bottom: 66px;
  }

  .intro__list {
    margin-bottom: 57px;
  }

  .intro__description {
    width: 295px;
  }
}
