.intro {
  margin-top: auto;
}

.intro::before {

  display: block;
  content: "";
  height: 286px;
  width: 257px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
  background-position: left bottom;
  background-size: 257px 286px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 257px auto;
  }
}

.intro__title {
  display: none;
  margin: 0 auto;

  @include font-set(24px, 36px, 400, $white, center);
}

.intro__wrapper {
  padding-top: 28px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 29px;
  background-color: $deepgrey;
  text-align: center;
}

.intro__container {
  width: 280px;
  margin: 0 auto;
}

.intro__btn--white {
  display: block;
  margin-bottom: 33px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 3px solid $white;
  border-radius: 50px;

  @include font-set(18px, 18px, 700, $white, center);
}

.intro__btn--white:hover {
  color: $red;

  background-color: $white;
}

.intro__btn--white:active {
  color: rgba(210, 80, 46, 0.3);

  background-color: $white;
}

.intro__list {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__item:first-child {
  margin-left: 37px;
}

.intro__item {
  margin-right: 35px;
}

.intro__item:last-child {
  margin-right: 0;
}

.intro__link {
  display: block;

  font-size: 0;
  color: $white;
}

.intro__link--android {
  padding-top: 8px;
}

.intro__link--microsoft {
  padding-top: 12px;
}

.intro__description {
  margin: 0;
  padding-top: 5px;

  @include font-set(14px, 24px, 400, $white, center);
}

@media (min-width: $tablet-width) {
  .intro::before {
    display: none;
  }

  .intro {
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat;
    background-color: transparent;
    background-position: 27px bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  .intro__title {
    display: block;
    width: 245px;
    margin-bottom: 30px;
    margin-left: 0;
    padding-right: 25px;
    padding-left: 25px;

    @include font-set(40px, 49px, 400, $white, center);
  }

  .intro__wrapper {
    display: block;
    width: 660px;
    margin-bottom: 80px;
    padding-right: 22px;
    padding-left: 22px;
    background-color: transparent;

    text-align: center;
  }

  .intro__item:first-child {
    margin-left: 45px;
  }

  .intro__link--android {
    padding-top: 6px;
  }

  .intro__container {
    width: 298px;
    margin-left: 46px;
  }

  .intro__btn--white {
    display: block;
    margin-bottom: 47px;
  }

  .intro__list {
    margin-bottom: 15px;
  }

  .intro__description {
    width: 297px;

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    box-sizing: border-box;
    min-height: 664px;
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 80px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat;
    background-size: 1050px 645px;
    background-position: 25px bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .intro__wrapper {
    padding-left: 0;
    margin-bottom: 0;
  }

  .intro__title {
    margin-bottom: 52px;
    padding-right: 26px;
    padding-left: 26px;

    font-size: 50px;
    line-height: 60px;
  }

  .intro__btn--white {
    margin-bottom: 66px;

    font-size: 21px;
  }

  .intro__list {
    margin-bottom: 36px;
  }

  .intro__description {
    width: 295px;
  }

  .intro__container {
    margin-left: 3px;
  }
}
