.intro__title {
  display: none;
  margin: 0;

  @include font-set(24px, 36px, lighter, $white, center);
}

.intro__wrapper {
  margin-top: 335px;
}

.intro__btn--white {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 3px solid $white;
  border-radius: 50px;

  @include font-set(18px, 18px, lighter, $white, center);
}

.intro__list {
  display: flex;
  justify-content: center;

  @include list-reset;
}

.intro__link {
  color: $white;
}

.intro__description {
  margin: 0;

  @include font-set(14px, 24px, lighter, $white, center);
}

@media (min-width: $tablet-width) {
  .intro__title {
    display: block;

    @include font-set(40px, 48px, lighter, $white, center);
  }
  .intro__wrapper {
    width: 300px;
    margin-top: 0;
    margin-left: 0;
    padding: 40px 95px;

    background-color: rgba(29, 38, 49, 0);
  }
}

@media (min-width: $desktop-width) {
}
