.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include list-reset;
}

.main-nav__link {
  display: block;
  width: 100%;
  padding: 16px 0;

  color: $white;
  text-transform: uppercase;

  @include font-set(18px, 32px, bold, $white, center);
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;

    text-transform: none;
  }

  .main-nav__item {
    margin-left: 80px;
  }

  .main-nav__link {
    text-transform: inherit;

    @include font-set(18px, 18px, 400, $white, center);
  }
}
