.photo {
  position: relative;
  margin: 0 auto;
}

.photo__text {
  @include font-set(14px, 30px, 600, $darkgrey, center);
  margin: 0 auto;
  width: 250px;
  padding: 45px 30px;
  margin-bottom: 4px;
}

.photo__best::before {
  position: absolute;
  display: block;
  right: 17px;
  content: "панорама дня";
  padding-top: 6px;
  width: 140px;
  height: 31px;
  @include font-set(12px, 24px, 700, $white, center);
  text-transform: uppercase;
  background-color: $red;
}

.photo__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .photo__text {
    @include font-set(18px, 30px, 600, $darkgrey, center);
    width: 450px;
    padding-top: 92px;
    padding-bottom: 72px;
  }

  .photo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo__list .user-photo__info {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 33px;
    padding-bottom: 23px;
    min-height: 108px;
  }

  .photo__item {
    flex-basis: 300px;
  }

  .photo__best::before {
    top: 285px;
  }
}
