.photo-upload {
  background-color: $grey;
  margin: 0 auto;
}

.photo-upload__img {
  text-align: center;
  margin-bottom: 30px;
}

.photo-upload__btn {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 13px;

  background-color: transparent;
  border: 3px solid $red;
  border-radius: 50px;

  @include font-set(18px, 18px, 700, $red, center);
}

.photo-upload__btn--reset {
  color: rgba(40, 54, 69, 0.1);

  border: 3px solid rgba(40, 54, 69, 0.1);
}

.photo-upload__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0;
  padding-top: 20px;
}

.photo-upload__tools {
  margin: 0 20px;
  padding-bottom: 35px;
}

.photo-upload__tool {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.photo-upload__range {
  @include list-reset;
  margin: 0 20px;
}

.photo-upload__btn-list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 211px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.photo-upload__btn-item {
  width: 44px;
}

.photo-upload__range-scale {
  position: relative;
  min-width: 240px;
  height: 2px;
  background-color: $black;
}

.photo-upload__toggle {
  position: absolute;
  top: -6px;
  right: 34px;
  width: 10px;
  height: 10px;
  border: 2px solid $red;
  border-radius: 50%;
  background-color: $grey;
}

.photo-upload__range-scale:nth-child(2),
.photo-upload__range-scale:nth-child(3) {
  display: none;
}

.photo-upload__btn-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 37px;
  padding-bottom: 29px;
  border-top: 1px solid #dddfe0;
}


@media (min-width: $tablet-width) {
  .photo-upload {
    padding: 57px 20px 28px 20px;
    width: 620px;
  }

  .photo-upload__form {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0;
  }

  .photo-upload__container {
    position: relative;
    margin-right: 14px;
    width: 260px;
  }

  .photo-upload__tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0px;
    margin: 0;
  }

  .photo-upload__img img {
    display: block;
    width: 300px;
    height: 400px;
  }

  .photo-upload__img {
    margin-bottom: 0;
    width: 300px;
    height: 400px;
  }

  .photo-upload__range-scale:nth-child(2), .photo-upload__range-scale:nth-child(3) {
    display: block;
}
  .photo-upload__btn-list {
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
  }

  .photo-upload__btn {
    margin-bottom: 26px;
  }

  .photo-upload__range {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 213px;
    margin: 0;
  }

  .photo-upload__range-scale {
    margin-right: 4px;
    min-width: 202px;
  }

  .photo-upload__btn-wrapper {
    justify-content: center;
    padding: 0;
    padding-top: 53px;
    border-top: none;
  }

  .photo-upload__tools::before,
  .photo-upload__tools::after,
  .photo-upload__btn-wrapper::before {
    position: absolute;
    content: "";

    left: 0px;
    width:275px;
    height: 1px;
    background-color: #dddfe0;
  }

  .photo-upload__tools::before {
    top: 55px;
  }

  .photo-upload__tools::after {
    bottom: 297px;
  }

  .photo-upload__btn-wrapper::before {
    bottom: 227px;
  }

  .photo-upload__toggle-1 {
    right: 42px;
  }

  .photo-upload__toggle-2 {
    right: 162px;
  }

  .photo-upload__toggle-3 {
    right: 92px;
  }

}

@media (min-width: $desktop-width) {
  .photo-upload {
    padding: 45px 10px 19px 10px;
    width: 920px;
  }

  .photo-upload__btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    padding: 0;
  }

  .photo-upload__img img {
    width: 100%;
  }

  .photo-upload__container {
    width: 410px;
  }

  .photo-upload__btn {
    width: 184px;
  }

  .photo-upload__tool {
    width: 50px;
    height: 50px;
  }

  .photo-upload__tools {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 145px;
    width: 420px;
  }

  .photo-upload__btn-list {
    justify-content: space-around;
    margin: 0;
  }

  .photo-upload__btn-item {
    display: flex;
    align-items: center;
  }

  .photo-upload__range-scale {
    width: 287px;
    height: 2px;

    background-color: $darkgrey;
  }

  .photo-upload__range {
    margin: 0;
    margin-left: 10px;
  }
}
