.photo-upload {
  background-color: $white;
}

.photo-upload__text {
  @include font-set(14px, 30px,600,$darkgrey, center);
  margin: 0 auto;
  padding: 21px 0px;
  margin-bottom: 21px;
}

.photo-upload__img {
  text-align: center;
  margin-bottom: 30px;
}

.photo-upload__btn {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 13px;

  background-color: transparent;
  border: 3px solid $red;
  border-radius: 50px;

  @include font-set(18px, 18px, 700, $red, center);
}

.photo-upload__btn--reset {
  color: rgba(40, 54, 69, 0.1);

  border: 3px solid rgba(40, 54, 69, 0.1);
}

.photo-upload__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0;
  padding-top: 20px;

  background-color: $grey;
}

.photo-upload__tools {
  margin: 0 20px;
  padding-bottom: 35px;
}

.photo-upload__tool {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.photo-upload__range {
  @include list-reset;
  margin: 0 20px;
}

.photo-upload__btn-list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 211px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.photo-upload__btn-item {
  width: 44px;
}

.photo-upload__range-scale {
  position: relative;
  min-width: 240px;
  height: 2px;
  background-color: $black;
}

.photo-upload__toggle {
  position: absolute;
  top: -6px;
  right: 34px;
  width: 10px;
  height: 10px;
  border: 2px solid $red;
  border-radius: 50%;
  background-color: $grey;
}

.photo-upload__range-scale:nth-child(2),
.photo-upload__range-scale:nth-child(3) {
  display: none;
}

.photo-upload__btn-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 37px;
  padding-bottom: 29px;
  border-top: 1px solid #dddfe0;
}


@media (min-width: $tablet-width) {
  .photo-upload__form {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 57px 11px;
  }

  .photo-upload__tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 285px;
  }

  .photo-upload__text {
    padding: 45px 0px;
    margin-bottom: 24px;
    font-size: 18px;
  }

  .photo-upload__img {
    width: 300px;
    height: 400px;
  }

  .photo-upload__range-scale:nth-child(2), .photo-upload__range-scale:nth-child(3) {
    display: block;
}
  .photo-upload__btn-list {
    flex-direction: column;
  }

  .photo-upload__range {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photo-upload__range-scale {
    min-width: 202px;
  }

}

@media (min-width: $desktop-width) {
  .photo-upload__btn-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .photo-upload__btn {
    width: 100%;
  }

  .photo-upload__tool {
    width: 50px;
    height: 50px;
  }

  .photo-upload__tools {
    flex-direction: column;
  }

  .photo-upload__btn-item {
    display: flex;
    align-items: center;
  }

  .photo-upload__range-scale {
    width: 287px;
    height: 2px;

    background-color: $darkgrey;
  }
}
