.pop-up__ok {
  position: fixed;
  top: 50%;
  left: 20%;
  display: none;
  width: 320px;
}

.pop-up__error {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 280px;
  padding: 0 20px;
}

.pop-up__title {
  @include font-set(18px, 24px, bold, $black, center);
}

.pop-up__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 165px;
  background-color: $grey;
}

.pop-up__text {
  @include font-set(14px, 30px, normal, $darkgrey, center);
}

.pop-up__btn {
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  @include font-set(18px, 30px, bold, $white, center);
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: $green;
  cursor: pointer;
}

.pop-up__btn--close {
  min-width: 280px;
}


@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
