.price {
  position: relative;
  background-color: $grey;
  padding-bottom: 47px;
  z-index: 1;
}

.price__list {
  position: relative;
  left: 50%;
  margin-left: -570px;
  margin-bottom: 42px;
  display: block;
  border-collapse: collapse;
  border-radius: 2px;
 }

.price__head {
   border-right: 2px solid $lightgrey;
   border-collapse: separate;
 }

 .price__toggles {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 57px;
   background-color: $grey;
 }

.price__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
}

.price__row {
  font-size: 18px;
  font-weight: 400px;
  background-color: $white;
}

.price__tariff {
  position: relative;
  min-width: 276px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: $darkgrey;

  @include font-set(18px, 30px, 700, $white, center);

  text-transform: uppercase;
}

.price__cost {
  font-size: 24px;
  font-weight: 400;
}

.price__tariff--empty {
  display: block;
  min-width: 150px;
  background-color: $grey;
}

.price__hit {
  border-left: 2px solid $lightgrey;
  border-right: 2px solid $lightgrey;
}

.price__hit::before,
.price__hit::after {
  position: absolute;
  height: 71px;
  width: 76px;
  top: 0px;
  left: -2px;
  padding: 0;
  @include font-set(14px, 14px, 700, $white, center);
  text-transform: uppercase;
  color: #fff;
}

.price__hit::before {
  content: "";
  background: url("../img/bg-hit.svg") no-repeat;
  background-size: 74px 73px;
  }

.price__hit::after {
  content: "хит";
  padding-top: 15px;
  padding-left: 1px;
  transform: rotate(-45deg);

}

.price__value {
  padding: 14px 23px;
  border: 2px solid $lightgrey;
  font-size: 0px;
}

.price__value--yes {
  background: url("../img/icon-yes.svg") no-repeat center right;
  background-position: 227px 17px;
  background-size: 34px 22px;

}

.price__value--no {
  background: url("../img/icon-no.svg") no-repeat center right;
  background-position: 227px 12px;
  background-size: 34px 26px;
}

.price__option,
.price__value {
  @include font-set(14px, 30px, 400, $darkgrey, left);
  text-transform: uppercase;
  border: 2px solid $lightgrey;
}

.price__row:first-of-type .value {
  border-top-color: transparent;
}

@media (min-width: $tablet-width) {
  .price {
    padding-bottom: 27px;
  }

  .price__list {
    margin-left: -309px;
  }

  .price__tariff {
    font-size: 16px;
    line-height: 29px;
    padding-top: 12px;
    padding-bottom: 8px;
    min-width: 151px;
  }

  .price__cost {
    font-size: 18px;
  }

  .price__option {
    text-transform: none;
    font-weight: 600;
    padding: 7px 15px;
    padding-right: 25px;
  }

  .price__option-name {
    visibility: hidden;
  }

  .price__value {
    padding: 7px 13px;
  }

  .price__value--yes {
    background-position: 62px 12px;
    background-size: 34px 22px;
  }

  .price__value--no {
    background-position: 62px 12px;
    background-size: 35px 26px;
  }

  .price__hit::before {
    background-size: 62px 61px;
  }

  .price__hit::after {
    font-weight: 400;
    padding-top: 5px;
    padding-left: 4px;
  }

  .price__wrapper {
    overflow: visible;
    margin-left: 3%;
    margin: 0 auto;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-bottom: 54px;
    padding-top: 61px;
  }

  .price__list {
    margin-left: -470px;
  }

  .price__tariff {
    font-size: 18px;
    line-height: 31px;
    min-width: 231px;
    padding-top: 15px;
    padding-bottom: 17px;
  }

  .price__hit::before {
    background-size: 75px 72px;
  }

  .price__hit::after {
    font-size: 14px;
    line-height: 30px;
    padding-top: 5px;
  }

  .price__value--yes {
    background-position: 100px 19px;
  }

  .price__value--no {
    background-position: 100px 16px;
  }

  .price__option {
    padding: 14px 22px;
    min-width: 188px;
    font-size: 18px;
  }

  .price__cost {
    font-size: 24px;
  }

}
