.price {
  background-color: $grey;
}

.price__wrapper {
  overflow: hidden;
  margin: 0 auto;
}

.price__list {
  margin-left: -584px;
}

.price__tariff {
  min-width: 280px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: $darkgrey;

  @include font-set(18px, 30px, bold, $white, center);

  text-transform: uppercase;
  border-right: 2px solid $lightgrey;
}

.price__cost {
  font-size: 24px;
  font-weight: lighter;
}

.price__tariff--empty {
  background-color: transparent;
}

.price__value {
  @include font-set(14px, 30px, normal, $darkgrey, left);
  text-transform: uppercase;
  border: 2px solid $lightgrey;
  padding: 15px 24px;
}

.price__row:first-of-type .value {
  border-top-color: transparent;
}

.price__toggles {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  background-color: $grey;
}

@media (min-width: $tablet-width) {
  .price__list {
    margin-left: -400px;
  }

  .price__wrapper {
    overflow: visible;
  }
}

@media (min-width: $desktop-width) {
  .price__list {
    margin-left: -90px;
  }
}
