.promo {
  position: relative;

  padding: 40px 0;
  padding-bottom: 0;
}

.promo__text {
  margin: 0 auto;
  margin-bottom: 29px;
  padding: 0 20px;

  @include font-set(24px, 29px, 400, $darkgrey, center);
}

@media (min-width: $tablet-width) {
  .promo {
    margin-bottom: 46px;
    padding: 50px 20px;
    padding-bottom: 0;
  }

  .promo__text:nth-child(2) {
    width: 340px;
  }

  .promo__text {
    margin-bottom: 0;
    padding: 0;
    width: 620px;
    text-align: center;

    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-bottom: 22px;
    padding: 66px 30px;
  }

  .promo::after {
    bottom: -165px;
  }

  .promo__text:nth-child(2) {
    margin: 0 auto;
    width: 500px;
  }

  .promo__text {
    width: 750px;

    font-size: 50px;
    line-height: 60px;
  }
}
