.promo {
  position: relative;
  padding: 40px 0;
}

.promo::after {
  position: absolute;
  bottom: -59px;
  display: block;
  content: "";
  height: 94.074px;
  width: 100%;

  background: url("../img/bg-triangle-white.svg") no-repeat;
  transform: rotate(180deg);
}

.promo__text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 20px;
  @include font-set(24px, 28px, 400, $darkgrey, center);
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 50px 30px;
    margin-bottom: 47px;
  }


.promo::after {
  bottom: -88px;
}

  .promo__text:nth-child(2) {
    padding-left:30px;
    padding-right: 30px;
  }

  .promo__text {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 68px 30px;
    margin-bottom: 104px;
  }

  .promo::after {
    bottom: -104px;
  }

  .promo__text:nth-child(2) {
    padding-left:300px;
    padding-right: 300px;
  }

  .promo__text {
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 0px;
  }
}
