.review {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 83px;
  padding-top: 42px;
  z-index: 1;
  min-height: 317px;
}

.review::after {
  position: absolute;
  content: "";
  bottom: -87px;
  height: 97px;
  width: 100%;
  background: url("../img/bg-triangle-white.svg") no-repeat;
  transform: rotate(180deg);
}

.review__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 286px;
  margin: 0 auto;
  min-height: 268px;
}

.review__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 256px;
  overflow: hidden;
}

.review__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 223px;
}

.review__item--second,
.review__item--third {
  display: none;
}

.review__text {
  margin: 0;
  width: 282px;

  @include font-set(14px, 30px, 600, $darkgrey, center);
}

.review__title {
  display: block;
  margin: 0;
  font-style: inherit;

  @include font-set(18px, 30px, 700, $black, center);
}

.review__about {
  display: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .review__wrapper {
    width: 620px;
    min-height: 233px;
  }

  .review__list {
    min-height: 221px;
  }

  .review__text {
    order: 1;
    width: 650px;
    font-size: 18px;
    line-height: 30px;
  }

  .review__content {
    order: 2;
  }

  .review__title {
    font-size: 20px;
    line-height: 30px;
  }

  .review__about {
    display: block;
    @include font-set(14px, 30px, 600, $darkgrey, center);
  }

  .review__item {
    min-height: 185px;
  }

  .review {
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .review {
    padding-top: 96px;
    margin-bottom: 61px;

  }

  .review__wrapper {
    width: 690px;
  }

  .review__item {
    padding-right: 47px;
    min-height: 187px;
  }

  .review__text {
    width: 787px;
  }

  .review__title {
    font-size: 22px;
  }

  .review__about {
    margin-top: 2px;
    font-size: 18px;
  }
}
