.review {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
  padding-top: 42px;
}

.review__toggle {
  display: none;
}

.review__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 286px;
  min-height: 268px;
  margin: 0 auto;
}

.review__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 256px;
  overflow: hidden;
}

.review__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 223px;
}

.review__item--first,
.review__item--third {
  display: none;
}

.review__text {
  width: 282px;
  margin: 0;

  @include font-set(14px, 30px, 600, $darkgrey, center);
}

.review__title {
  display: block;
  margin: 0;

  font-style: inherit;

  @include font-set(18px, 30px, 700, $black, center);
}

.review__about {
  display: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .review__wrapper {
    width: 620px;
    min-height: 233px;
  }

  .review__list {
    min-height: 221px;
  }

  .review__text {
    order: 1;
    width: 650px;

    font-size: 18px;
    line-height: 30px;
  }

  .review__content {
    order: 2;
  }

  .review__title {
    font-size: 20px;
    line-height: 36px;
  }

  .review__about {
    display: block;

    @include font-set(14px, 27px, 600, $darkgrey, center);
  }

  .review__item {
    min-height: 185px;
  }

  .review {
    margin-bottom: 17px;
  }

  .review::after {
    bottom: -30px;
  }
}

@media (min-width: $desktop-width) {
  .review {
    margin-bottom: 0;
    padding-top: 184px;

    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 71px;
    background-size: 80px 63px;
  }

  .review__wrapper {
    width: 690px;
  }

  .review__item {
    min-height: 187px;
  }

  .review__text {
    width: 787px;
  }

  .review__title {
    font-size: 24px;
    line-height: 30px;
  }

  .review__about {
    margin-top: 4px;

    font-size: 18px;
  }

  .review__toggle {
    position: absolute;
    top: 211px;
    z-index: 1;

    display: block;
    width: 60px;
    height: 42px;

    font-size: 0;
    line-height: 0;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 22px 41px;
    border: none;
    outline: none;
    cursor: pointer;

    .arrow {
      fill: $darkgrey;
      opacity: 0.3;
    }

    &:hover .arrow {
      opacity: 0.6;
    }

    &:active .arrow {
      opacity: 0.1;
    }
  }

  .review__toggle--prev {
    left: -9px;
  }

  .review__toggle--next {
    right: -9px;
  }

  .review::after {
    bottom: 0;
  }
}
