.user-photo__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.user-photo__container {
  text-align: center;
}

.user-photo__info {
  background-color: $grey;
}

.user-photo__title {
  margin: 0;

  @include font-set(14px, 24px, bold, $darkgrey, left);
}

.user-photo__span {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}

.user-photo__description {
  @include font-set(14px, 24px, normal, $darkgrey, left);
}

.user-photo__footer {
  text-transform: uppercase;

  @include font-set(12px, 24px, normal, $red, left);
}

.user-photo__counter {
  margin-left: 5px;
}

@media (min-width: $tablet-width) {
  .user-photo__img {
    width: 100%;
  }

  .user-photo__user-img--wide {
    background: url("../img/panorama-tablet.jpg") no-repeat center;
    .user-photo__img {
      z-index: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-photo__user-img--wide {
    background: url("../img/panorama-desktop.jpg") no-repeat center;
  }
}
