$deepgrey: #1d2631;
$darkgrey: #283645;
$white: #ffffff;
$red: #d22856;
$grey: #f2f2f2;
$black: #000000;
$lightgrey: #e5e5e5;
$green: #2aab6d;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width-only: 319px;
$tablet-width-only: 659px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
