.competition__content {
  @include font-set;
}

.competition__text {
  @include font-set(14px, 30px, normal, $darkgrey, center);
  padding-top: 50px;
  padding-bottom: 50px;
}

.filters-group {
  border: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

.input-block__list {
  @include list-reset;
}

.input-block:nth-child(2n-1) {
  background-color: $white;
  padding-left: 20px;
  padding-right: 20px;
  .input-block__text {
    @include font-set(14px, 30px, normal, $red, left);
    text-transform: uppercase;
  }
}

.input-block__item--input {
  display: flex;
  flex-direction: column;
}

.input-block:nth-child(2n) {
  background-color: $grey;
}

.input-block__input {
  @include font-set(18px, 30px, normal, $darkgrey, left);
  box-sizing: border-box;
  border: 2px solid $lightgrey;
  border-radius: 2px;
  margin-bottom: 16px;
}

.filters-group__title {
  margin: 0px;
  @include font-set(14px, 18px, normal, $red, center);
  text-transform: uppercase;
}

.input-block__text {
  @include font-set(18px, 30px, 500, $darkgrey, center);
}

.input-block__input--textarea {
  height: 200px;
  padding: 12px;
  resize: none;
}

.competition__btn,
.pop-up__btn {
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  @include font-set(18px, 30px, bold, $white, center);
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: $green;
  cursor: pointer;
}

.competition__legend {
  @include font-set(14px, 30px, normal, $darkgrey, center);
  text-transform: uppercase;
}

.competition__footnote {
  color: $red;
}
