.footer {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  align-self: center;
}

.footer__social-list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer__text {
  margin: 0;
  padding-right: 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #283645;
  vertical-align: middle;
}
