.header__top {
  display: flex;
  justify-content: flex-start;
  background-color: $darkgrey;
  padding: 16px 20px;
}

.header__button {
  margin-left: auto;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include list-reset;
}

.main-nav__link {
  display: block;

  @include font-set(18px, 32px, bold, $white, center);

  color: $white;
  text-transform: uppercase;

  padding: 16px 0;
  width: 100%;
  background-color: $darkgrey;
}

.header__bg {
  min-height: 462px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center;
}

.header__title {
  @include font-set(24px, 36px, lighter, $white, center);
}
