.photo {
  padding-left: 20px;
  padding-right: 20px;
}

.photo__text,
.photo-upload__text {
  @include font-set(14px, 30px,normal,$darkgrey, center);
}

.user-photo__info {
  background-color: $grey;
}

.photo__list {
  @include list-reset;
}

.user-photo__title {
  margin: 0;
  @include font-set(14px, 24px, bold, $darkgrey, left);
}

.user-photo__span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
}

.user-photo__description {
  @include font-set(14px, 24px, normal, $darkgrey, left);
}

.user-photo__footer {
  @include font-set(12px, 24px, normal, $red, left);
  text-transform: uppercase;
}

.user-photo__counter {
  margin-left: 5px;
}
