.photo-upload {
  background-color:$white;
}

.photo-upload__btn {
  color:$red;
  border: 3px solid $red;
  background-color: transparent;
}

.photo-upload__btn--reset {
  color:rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);
}

.photo-upload__form {
  display: flex;
  flex-direction: column;
  background-color: $grey;
}

.photo-upload__btn-list {
  display: flex;
  justify-content: space-around;
  @include list-reset;
}