.pop-up {
  text-align: center;
}

.pop-up__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.pop-up__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #283645;
}