.price__list {
  border-collapse: collapse;
}

.tariff {
  min-width: 280px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: $darkgrey;

  @include font-set(18px, 30px, bold, $white, center);

  text-transform: uppercase;
  border-right: 2px solid $lightgrey;
  .tariff__price {
    font-size: 24px;
    font-weight: lighter;
  }
}

.tariff--empty {
  background-color: transparent;
}

.value {
  @include font-set(14px, 30px, normal, $darkgrey, left);
  text-transform: uppercase;
  border: 2px solid $lightgrey;
  padding: 15px 24px;
}

.row:first-of-type .value {
  border-top-color: transparent;
}

.price__toggles {
  background-color: $grey;
}
