.review__text {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 26px;

  @include font-set(14px, 30px, lighter, $darkgrey, center);
}

.review__title {
  display: block;
  font-style: inherit;
  @include font-set(18px, 30px, bold, $black, center);
}