.review {
  text-align: center;
}

.review__text {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 26px;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: lighter;

}

.review__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}
