@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_fonts";
@import "normalize";
@import "blocks/_visually-hidden";
@import "blocks/_site__wrapper";
@import "blocks/_main-page__wrapper";
@import "partials/_additions";
@import "blocks/_header";
@import "blocks/_main-nav";
@import "blocks/_intro";
@import "blocks/_promo";
@import "blocks/_information";
@import "blocks/_effect";
@import "blocks/_review";
@import "blocks/_slider";
@import "blocks/_price";
@import "blocks/_contacts";
@import "blocks/_competition";
@import "blocks/_filters-group";
@import "blocks/_input-block";
@import "blocks/_pop-up";
@import "blocks/_footer";
@import "blocks/_photo";
@import "blocks/_user-photo";
@import "blocks/_photo-upload";
